.container {
  width: 413px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 24px auto 96px;
  padding: 36px 33px 60px;
  background: #f9f9fe;
  border-radius: 8px;
}

.container img {
  width: 96px;
  height: 96px;
  border-radius: 50%;

  background: #21268f;
  margin-bottom: 38px;
}

.container h2 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;

  color: #2d2e46;
  margin: 0 0 15px;
}
