.toggleContainer {
  display: flex;
  position: relative;
}

.button {
  height: 36px;
  width: 196px;
  border: none;
}

.lightFill {
  background: #ffffff;
  color: #2d2e46;
}

.darkFill {
  background: #9a91c8;
  color: #ffffff;
}

.disabled {
  /*opacity: 0.5;*/
  cursor: not-allowed;
  transition: none;
  transform: none;
}
