.head {
  height: 48px;
  background-color: #ececf9;
  display: flex;
  justify-content: space-between;
}

.name,
.cardsCount,
.updated,
.userName,
.buttonsBlock {
  padding: 10px;
}

.name {
  flex: 1 0 150px;
  /*position: relative;*/
}

.cardsCount {
  flex: 1 0 50px;
}

.updated {
  flex: 1 0 120px;
}

.userName {
  flex: 1 0 240px;
}

.buttonsBlock {
  flex: 1 0 300px;
}

.arrow {
  position: absolute;
  /*right: 0;*/
  cursor: pointer;
}
