.body {
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name,
.cardsCount,
.updated,
.userName,
.buttonsBlock {
  padding: 5px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #2d2e46;
  overflow: hidden;
}


.name {
  flex: 1 0 25%;
}

.cardsCount {
  flex: 1 0 10%;
}

.updated {
  flex: 1 0 15%;
}

.userName {
  flex: 1 0 25%;
}

.buttonsBlock {
  flex: 1 0 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.deletePackText {
  padding: 30px 0 30px 0;
}

.packName {
  font-weight: 700;
}

.titlePack {
  margin: 30px 0 35px 0;
}