.body {
    min-height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name, .cardsCount, .updated, .userName, .buttonsBlock {
    padding: 10px;
}

.name {
    flex: 1 0 150px;
    width: 150px;
    word-wrap: break-word;
}

.cardsCount {
    flex: 1 0 50px;

}

.updated {
    flex: 1 0 120px;

}

.userName {
    flex: 1 0 240px;

}

.buttonsBlock {
    flex: 1 0 300px;

}

