.body {
  max-width: 100%;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question,
.answer,
.updated,
.grade,
.buttonsBlock {
  padding: 10px;
}

.question {
  flex: 1 0 25%;
  word-wrap: break-word;
}

.answer {
  flex: 1 0 30%;
}

.updated {
  flex: 1 0 15%;
}

.grade {
  flex: 1 0 15%;
}

.buttonsBlock {
  flex: 1 0 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.deleteCardText {
  padding: 30px 0 30px 0;
}

.cardName {
  font-weight: 700;
}

.titleQuestion {
  margin: 30px 0 20px 0;
}

.titleAnswer {
  margin: 15px 0 35px 0;
}

