.button {
  position: relative;
  overflow: hidden;
  border: none;
  outline: none;
  box-shadow: 0 0 4px #999;
  cursor: pointer;
  background-color: hsl(237, 63%, 35%);
  background-position: center;
  background-image: radial-gradient(circle, transparent 1%, hsl(237, 63%, 35%) 1%);
  background-size: 12000%;
  transition: background 0.6s, transform 0.2s ease;
  height: 36px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
}

.buttonLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:active {
  background-color: hsla(237, 63%, 35%, 0.32);
  transition: background 0s;
  background-size: 100%;
  transform: scale(0.99);
}

.sizeSmall {
  width: 127px;
}

.sizeMedium {
  width: 187px;
}

.sizeLarge {
  width: 266px;
}

.colorPrimary {
  color: #ececf9;
  background: #21268f;
  box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.colorPrimary:hover,
.colorPrimary:focus {
  filter: brightness(1.25);
  color: #ececf9;
}

.colorSecondary {
  background-color: #d7d8ef;
  background-image: radial-gradient(circle, transparent 1%, #d7d8ef 1%);
  color: #212791;
}

.colorSecondary:active {
  background-color: hsa(238, 43%, 89%, 0.32);
  transform: scale(0.99);
}

.colorSecondary:hover,
.colorSecondary:focus {
  filter: brightness(0.95);
  color: #21268f;
}

.colorAlerty {
  background-color: hsl(3, 87%, 59%);
  background-image: radial-gradient(circle, transparent 1%, hsl(3, 87%, 59%) 1%);
  color: hsl(240, 52%, 95%);
}
.button.colorAlerty:active {
  background-color: hsa(3, 87%, 59%, 0.32);
  transform: scale(0.99);
}

.shapeRound {
  border-radius: 30px;
}
.shapeSquare {
  border-radius: none;
}

.sizeSmall.shapeSquare {
  height: 24px;
  width: auto;
  padding: 0 6px;
  border-radius: 2px;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transition: none;
  transform: none;
}

.button.colorSecondary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transition: none;
  transform: none;
}
.button.colorAlerty:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transition: none;
  transform: none;
}
