.cardsListContainer {
  margin: 24px 136px 71px 136px;
  min-height: calc(100vh - 60px - 71px - 24px);
  min-width: calc(100vw - 136px - 136px);

  display: flex;
  flex-direction: column;
  background: #fefeff;
  border-radius: 8px;
  padding: 20px;
}

.headerWrapper {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
.headerWrapper > svg {
  cursor: pointer;
}

.searchButtonBlock {
  display: flex;
  gap: 5px;
}

.tableBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  margin-top: 20px;
}

.head {
  height: 48px;
  background-color: #ececf9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #2d2e46;
}

.question,
.answer,
.updated,
.grade,
.buttonsBlock {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}

.question {
  flex: 1 0 25%;
  word-wrap: break-word;
}

.answer {
  flex: 1 0 30%;
}

.updated {
  flex: 1 0 15%;
}

.grade {
  flex: 1 0 15%;
}

.buttonsBlock {
  flex: 1 0 15%;
}

.lightBackground {
  background-color: transparent;
}

.darkBackground {
  background: #ececf9;
}

.titleQuestion {
  margin: 30px 0 20px 0;
}

.titleAnswer {
  margin: 15px 0 35px 0;
}


