.packsListContainer {
  margin: 24px 136px 71px 136px;
  min-height: calc(100vh - 60px - 71px - 24px);
  min-width: calc(100vw - 10%);

  display: flex;
  background: #fefeff;
  border-radius: 8px;
}

.sideBar {
  width: 248px;
  background: #ececf9;
  border-radius: 8px;
  padding: 17px 24px;
}

.main {
  /*height: 80%;*/
  width: 100%;
  padding: 20px 30px;
}

.searchBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 15px 0;
}

.titlePack {
  margin: 30px 0 35px 0;
}